{% extends 'core/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card shadow-sm mb-4">
            <div class="card-header bg-info text-white">
                <h5 class="mb-0"> <i class="bi bi-person-lines-fill text-dark"></i> Perfil del Cliente</h5>
            </div>
            <div class="card-body">
                <h3>{{ cliente.nombre }} {{ cliente.apellido }}</h3>
                <hr>
                <p><strong> <i class="bi bi-telephone-plus text-danger"></i> Teléfono:</strong> {{ cliente.telefono }}</p>
                <p><strong> <i class="bi bi-person-vcard text-info"></i> CI/RUC:</strong> {{ cliente.ci_ruc }}</p>
                <p><strong> <i class="bi bi-envelope-at"></i> Email:</strong> {{ cliente.email|default:"No registrado" }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <h4 class="mb-3"> <i class="bi bi-journal-text text-info"></i> Historial de Visitas</h4>
        
        <div class="list-group">
            {% for cita in historial %}
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <div> <h5 class="mb-1">{{ cita.servicio.nombre }}</h5>
                            {% if cita.notas_adicionales %}
                                <small class="text-muted fst-italic d-block">
                                    <i class="bi bi-tag-fill"></i> {{ cita.notas_adicionales }}
                                </small>
                            {% endif %}
                        </div>
                        <small class="text-muted text-nowrap ms-2">{{ cita.fecha }}</small>
                    </div>
                    <p class="mb-1">Atendido por: <strong>{{ cita.profesional.nombre }}</strong></p>
                    
                    {% if cita.estado == 'REALIZADO' %}
                        <span class="badge bg-success">Realizado</span>
                    {% elif cita.estado == 'CANCELADO' %}
                        <span class="badge bg-danger">Cancelado</span>
                    {% else %}
                        <span class="badge bg-warning text-dark">Pendiente</span>
                    {% endif %}
                </div>
            {% empty %}
                <div class="alert alert-info">
                    Este cliente es nuevo, no tiene historial de citas.
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}